@{
    ViewData["Title"] = "Home page";
}

<div class="col-md-12" style="padding-left: 15px;">
    <div id="divbreadcrumb">
        <ol class="breadcrumb breadcrumb-arrow">
            <li class="homelink"><a href="#">Home</a></li>
            <li class="active"><span>Dashboard</span></li>
        </ol>
    </div>
</div>

<div class="container-fluid" id="dashboard" style="display: block;">
    <div class="container">
        <table id="dashboardtb">
            <tr>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                    <p>11 new reference architecture</p>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                    <p>Design template for microservice</p>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                    <p>Containerization best practice</p>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                    <p>New** Azure devops guideline</p>
                                    <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card-body">
                                <p>Cluster sizing tool</p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="card mb-3">
                        <div class="card-deck">
                            <div class="card-body">
                                <p>13 Project reviewed</p>
                                <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="container-fluid" id="documentpnl" style="display: none;">

</div>

<div class="container-fluid" id="uploadDocument" style="display: none;">

</div>
