
<form id="upload" enctype="multipart/form-data" method="POST">
    <div class="card">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" data-toggle="tab" href="#" role="tab" aria-selected="true">Upload Document</a>
            </div>
        </nav>
        <div class="card-body">
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 2px;">
                    <label>Name</label>
                    <input type="text" class="form-control" required onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" id="txtname" placeholder="Enter Document name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 2px;">
                    <label>Description</label>
                    <textarea id="txtdescp" class="form-control" required name="txtdescp" rows="4" cols="50" placeholder="Enter Description"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 2px;">
                    <label>Tags</label>
                    <input type="text" class="form-control" id="txtTags" placeholder="Enter Tags with comma">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mt-3 mb-3">
                    <input type="file" id="fileToUpload" name="file" required />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="float-left  m-3">
                        <button type="button" class="btn btn-primary" id="btnCancel" onclick="fn_cancel()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="float-left  m-3">
                        <button type="submit" class="btn btn-primary" id="btnsubmit">Save changes</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="alert-messages"></div>

    </div>


</form>

<script type="text/javascript">
    $(function () {
        $("#upload").submit(function (e) {
            //debugger;
            e.preventDefault();
            //if (!validations()) {
            //    return false;
            //}

            $.ajax({
                url: "/Home/Upload",
                type: "POST",
                data: function () {
                    var data = new FormData();
                    //data.append("name", jQuery("#txtname").val());
                    data.append("file", jQuery("#fileToUpload").get(0).files[0]);
                    return data;
                }(),
                contentType: false,
                processData: false,
                success: function (response) {
                    //debugger;
                    //console.log(response);

                    DocumentSave(response.url);
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log(errorMessage);
                    $.alert({
                        title: 'Error!!',
                        content: errorMessage,
                    });
                }
            });
        });
    });


</script>
